html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-width: 320px;
  overflow-x: hidden;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #2f2f2f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

button:focus,
a:focus {
  outline: none;
}

p {
  padding: 0;
  margin: 0;
}

a,
a:hover,
input,
input:focus,
a:focus {
  text-decoration: none;
  outline: none !important;
  color: inherit;
}

.container {
  max-width: 1920px;
  padding: 0 200px;
  margin: 0 auto;
}

.nav__mobile {
  display: none;
}

.header {
  position: fixed;
  z-index: 7;
  width: 100%;
  background: #fff;
  top: 0;
  max-height: 94px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .nav__list-item {
  display: inline-block;
}

.header .nav__list li + li {
  padding-left: 10px;
}

.header .nav__list-link {
  font-weight: 600;
  color: #9b9b9b;
  padding: 16px 15px;
}

.header .nav__list-link:hover {
  color: #69A4A2;
}

.header .nav__list-link:focus {
  color: #fff;
  padding: 16px 15px;
  background-color: #69A4A2;
  border-radius: 4px;
}

.header .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .contacts .social {
  padding-right: 30px;
  margin-right: 30px;
  height: 52px;
  border-right: 1px solid #CFCFCF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .contacts .social__links:first-child {
  margin-right: 25px;
}

.header .contacts .social__links:hover {
  text-decoration: none;
}

.header .contacts .social__links-img {
  margin-top: 11px;
}

.header .contacts .social__links-img:hover {
  opacity: .5;
}

.header .contacts .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .contacts .contact__phone {
  margin-left: 7px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #69A4A2;
}

.header .contacts .contact__phone:hover {
  color: #2f2f2f;
}

.header .menu {
  display: none;
  width: 28px;
  height: 18px;
  cursor: pointer;
}

.main {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 990px;
}

.main__inner {
  padding-top: 310px;
  text-align: left;
}

.main__title {
  color: #fff;
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 98px;
  letter-spacing: 0.01em;
  margin-bottom: 12px;
}

.main__subtitle {
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
}

.main__btn {
  width: 207px;
  padding: 16px 26px;
  border-radius: 4px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  z-index: 5;
}

.main__btn:hover {
  background-color: #69A4A2;
  color: #fff;
  border: 2px solid #69A4A2;
}

.main__btn-primary {
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  color: #2f2f2f;
}

.main__btn-secondary {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #FFFFFF;
  color: #fff;
}

.sticks__title,
.services__title,
.stocks__title,
.why__title,
.reviews__title,
.popup__title,
.questions__title {
  position: relative;
  font-weight: 800;
  font-size: 60px;
  line-height: 73px;
  letter-spacing: 0.01em;
  margin-bottom: 58px;
}

.sticks__title::after,
.services__title::after,
.stocks__title::after,
.why__title::after,
.reviews__title::after,
.popup__title::after,
.questions__title::after {
  position: absolute;
  content: '';
  width: 108px;
  height: 5px;
  left: 5px;
  top: 96px;
  background: #69A4A2;
}

.about {
  padding-top: 150px;
  margin-bottom: 150px;
}

.about__inner {
  position: relative;
}

.about__top {
  max-width: 405px;
  margin-bottom: 20%;
}

.about__text {
  padding-top: 82px;
}

.about__text-title {
  position: relative;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 73px;
  letter-spacing: 0.01em;
  color: #2f2f2f;
  margin-bottom: 58px;
}

.about__text-title::after {
  position: absolute;
  content: '';
  width: 108px;
  height: 5px;
  left: 5px;
  top: 96px;
  background: #69A4A2;
}

.about__top-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.about__central {
  max-width: 385px;
  margin-right: 10%;
  margin-left: auto;
  margin-bottom: 30%;
}

.about__title {
  font-weight: 800;
  padding-bottom: 20px;
}

.about__central-img {
  position: absolute;
  top: 480px;
  left: 0;
  z-index: 3;
}

.about__bottom {
  max-width: 420px;
  padding-bottom: 150px;
}

.about__bottom-img {
  position: absolute;
  top: 64%;
  right: 0;
  z-index: 4;
}

.about__bottom-description {
  margin-bottom: 35px;
}

.stocks {
  padding-top: 150px;
  margin-bottom: 250px;
}

.stocks__title {
  font-weight: 800;
  font-size: 60px;
  line-height: 73px;
  letter-spacing: 0.01em;
  color: #2F2F2F;
}

.stocks__packet {
  margin-bottom: 150px;
}

.stocks__packet-inner {
  position: relative;
}

.stocks__packet-title {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 0.03em;
  color: #2F2F2F;
  margin-bottom: 10px;
}

.stocks__packet-subtitle {
  color: #9B9B9B;
  margin-bottom: 30px;
}

.stocks__packet-tab {
  position: absolute;
  top: 12%;
  left: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 900px;
  min-height: 617px;
}

.stocks__header {
  min-height: 551px;
  min-width: 30%;
  padding-left: 40px;
  background-color: #272b2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stocks__title-tab {
  margin-top: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #888888;
  cursor: pointer;
}

.stocks__title-tab.active {
  color: #fff;
  border-bottom: 2px solid #88aeb5;
}

.stocks__tab {
  display: block;
  background-color: #fff;
  padding-top: 38px;
  padding-left: 9%;
  padding-right: 10%;
}

.stocks__tab.d-none {
  display: none;
}

.stocks__tab-item {
  max-width: 200px;
}

.stocks__header {
  background-color: #272B2C;
}

.stocks__additional {
  display: inline-block;
  position: relative;
  margin-top: 185px;
  padding: 34px 63px;
  background: #272B2C;
  border: 2px solid #272B2C;
  color: #FFFFFF;
}

.stocks__additional::after {
  position: absolute;
  content: '!';
  top: -20px;
  right: -20px;
  padding: 5px 15px;
  border: 3px solid #fff;
  background-color: #272B2C;
  color: #fff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.stocks__tab-text {
  color: #2F2F2F;
  margin-bottom: 27px;
  height: 150px;
}

.stocks__tab-subtitle {
  position: relative;
  display: inline-block;
}

.stocks__item-link {
  display: inline-block;
  float: right;
  text-align: center;
  padding: 16px 62px;
  color: #fff;
  background-color: #69A4A2;
  border: 2px solid #69A4A2;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: 4px;
}

.stocks__item-link:hover {
  background-color: transparent;
  color: #272B2C;
  border-color: #272B2C;
}

.stocks__tab > img {
  margin-bottom: 104px;
}

.stocks__aservices-title {
  margin-top: 100px;
  margin-bottom: 10px;
  font-size: 26px;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0.03em;
  color: #2F2F2F;
}

.stocks__aservices-subtitle {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #9B9B9B;
  max-width: 675px;
  margin-bottom: 30px;
}

.stocks__aservices-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.stocks__aservices-card {
  height: 420px;
  margin-right: 25px;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-top: 45px;
  padding-right: 16px;
  position: relative;
  display: block;
  z-index: 1;
}

.stocks__aservices-card-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.stocks__aservices-card-title {
  font-weight: bold;
  font-size: 23px;
  line-height: 35px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  margin-top: auto;
  margin-bottom: 0;
  height: 140px;
}

.stocks__aservices-card-descr {
  display: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.stocks__aservices-card .btn__more {
  display: none;
  max-width: 207px;
  text-align: center;
  padding: 16px 0;
  border: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.stocks__aservices-card .btn__more:hover {
  background-color: #ffffff;
  color: #000000;
}

.stocks__aservices-card.card-one {
  background: #ffffff url(../img/aserv-1.jpg) no-repeat center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-preferred-size: 45.5%;
      flex-basis: 45.5%;
}

.stocks__aservices-card.card-two {
  background: #ffffff url(../img/aserv-2.jpg) no-repeat center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-preferred-size: 24.5%;
      flex-basis: 24.5%;
}

.stocks__aservices-card.card-three {
  background: #ffffff url(../img/aserve-3.png) no-repeat center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-flex-preferred-size: 24.5%;
      flex-basis: 24.5%;
}

.stocks__aservices-card:hover .stocks__aservices-card-content {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  padding-left: 40px;
  padding-bottom: 40px;
  padding-top: 45px;
  padding-right: 16px;
}

.stocks__aservices-card:hover .stocks__aservices-card-title {
  margin-bottom: 0;
  z-index: 3;
}

.stocks__aservices-card:hover .stocks__aservices-card-descr {
  display: block;
  z-index: 3;
}

.stocks__aservices-card:hover .btn__more {
  display: block;
  margin-top: 88px;
  z-index: 3;
}

.stocks__aservices-card:hover.card-two .btn__more,
.stocks__aservices-card:hover.card-three .btn__more {
  margin-top: 62px;
}

.stocks__tab-subtitle span {
  display: inline-block;
  margin-left: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 46px;
  letter-spacing: 0.03em;
  color: #F92E2E;
}

.stocks .old {
  position: absolute;
  top: -20px;
  left: 55px;
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #2F2F2F;
}

.services {
  padding-top: 150px;
}

.services__text {
  color: #9B9B9B;
  padding-bottom: 80px;
}

.services__inner {
  list-style: none;
}

.services__item {
  position: relative;
  padding: 50px 0;
  border-top: 1px solid #2f2f2f;
}

.services__item:last-child {
  padding-bottom: 50px;
  border-bottom: 1px solid #2f2f2f;
}

.services__item-text {
  max-width: 680px;
  font-weight: 800;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 0.03em;
  display: block;
  color: #2f2f2f;
  cursor: pointer;
}

.services__item-inner {
  display: none;
  color: rgba(48, 69, 92, 0.8);
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}

input[type=checkbox]:checked ~ .services__item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.03em;
  position: relative;
  overflow: hidden;
  margin: 47px 0;
}

input[type=checkbox]:checked ~ .services__last {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__item-description {
  padding-bottom: 10px;
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #dcdcdc;
}

.services__item-sub {
  margin-bottom: 47px;
}

.services__item-subtitle {
  border-bottom: 1px solid #dcdcdc;
  width: 100%;
}

.services__item-link {
  display: inline-block;
  text-align: center;
  padding: 16px 62px;
  color: #fff;
  background-color: #69A4A2;
  border: 2px solid #69A4A2;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 4px;
}

.services__item-link:hover {
  background-color: transparent;
  color: #272B2C;
  border-color: #272B2C;
}

.services ul li:nth-of-type(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.services ul li:nth-of-type(2) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.services ul li:nth-of-type(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.services__item i {
  position: absolute;
  -webkit-transform: translate(-6px, 0);
          transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}

.services__item i::before,
.services__item i::after {
  content: "";
  position: absolute;
  background-color: #2f2f2f;
  width: 21px;
  height: 2px;
}

.services__item i:before {
  transform: translate(-30px, 0) rotate(45deg);
  -webkit-transform: translate(-30px, 0) rotate(45deg);
  -moz-transform: translate(-30px, 0) rotate(45deg);
  -ms-transform: translate(-30px, 0) rotate(45deg);
  -o-transform: translate(-30px, 0) rotate(45deg);
}

.services__item i:after {
  transform: translate(-15px, 0) rotate(-45deg);
  -webkit-transform: translate(-15px, 0) rotate(-45deg);
  -moz-transform: translate(-15px, 0) rotate(-45deg);
  -ms-transform: translate(-15px, 0) rotate(-45deg);
  -o-transform: translate(-15px, 0) rotate(-45deg);
}

.services__item input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 50%;
  z-index: 1;
  opacity: 0;
}

.services__item input[type=checkbox]:checked {
  height: 100%;
}

.services__item input[type=checkbox]:checked ~ span {
  margin-top: 0;
  max-height: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.services__item input[type=checkbox]:checked ~ i:before {
  transform: translate(-20px, 0) rotate(45deg);
  -webkit-transform: translate(-20px, 0) rotate(45deg);
  -moz-transform: translate(-20px, 0) rotate(45deg);
  -ms-transform: translate(-20px, 0) rotate(45deg);
  -o-transform: translate(-20px, 0) rotate(45deg);
}

.services__item input[type=checkbox]:checked ~ i:after {
  transform: translate(-20px, 0) rotate(-45deg);
  -webkit-transform: translate(-20px, 0) rotate(-45deg);
  -moz-transform: translate(-20px, 0) rotate(-45deg);
  -ms-transform: translate(-20px, 0) rotate(-45deg);
  -o-transform: translate(-20px, 0) rotate(-45deg);
}

.services__link {
  margin-top: 30px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.services__extension-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__extension-item {
  padding: 28px 35px;
  border: 1px solid #dcdcdc;
  margin-right: 20px;
  max-width: 35%;
  line-height: 31px;
}

.services__extension-item.second {
  margin-right: auto;
}

.services__extension-item-title {
  font-weight: 800;
  line-height: 31px;
  margin-bottom: 12px;
}

.services__extension-item-list li {
  margin-bottom: 12px;
}

.services__extension-item-list li::before {
  content: '-';
  margin-right: 4px;
}

.services__wrapper {
  margin-bottom: 50px;
}

.services__item-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2F2F2F;
  margin-bottom: 47px;
}

.services__wrapper-cost {
  float: right;
  font-size: 26px;
  color: #272B2C;
}

.services__wrapper-text {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #272B2C;
}

.services__wrapper-subtitle {
  color: #9B9B9B;
  display: inline-block;
  padding-top: 10px;
}

input[type=checkbox]:checked ~ .services__item-first {
  margin-top: 10px;
}

.why {
  padding-top: 150px;
  margin-bottom: 150px;
}

.why__inner {
  position: relative;
  margin-top: 80px;
}

.why__top {
  max-width: 500px;
  margin-left: auto;
  margin-right: 15%;
  margin-bottom: 182px;
}

.why__center {
  max-width: 513px;
  margin-left: 25%;
  margin-bottom: 215px;
}

.why__bottom {
  max-width: 513px;
  margin-left: auto;
  margin-right: 20%;
  margin-bottom: 182px;
}

.why__text {
  position: relative;
  z-index: 2;
  padding-left: 45px;
  padding-bottom: 40px;
  padding-top: 30px;
  background-color: #fff;
}

.why__text-title {
  position: relative;
  font-weight: 800;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 0.03em;
  color: #2f2f2f;
  margin-bottom: 20px;
}

.why__img {
  z-index: 1;
  width: 45%;
}

.why__top-img {
  position: absolute;
  top: 0;
  left: 0;
}

.why__center-img {
  position: absolute;
  top: 0;
  right: 0;
}

.why__bottom-img {
  position: absolute;
  bottom: -130px;
  left: 0;
}

.questions {
  padding-top: 150px;
  margin-bottom: 150px;
}

.questions__title, .questions__description {
  text-align: center;
}

.questions__title::after {
  left: auto;
  right: 46.5%;
}

.questions__items {
  width: 100%;
  margin: 80px auto 0;
}

.questions__item {
  position: relative;
  padding: 50px 0;
  border-top: 1px solid #dcdcdc;
}

.questions__item:last-child {
  padding-bottom: 50px;
  border-bottom: 1px solid #dcdcdc;
}

.questions__item-title {
  font-weight: 500;
  font-size: 23px;
  line-height: 36px;
  max-width: 678px;
}

.questions__item b {
  position: absolute;
  display: block;
  width: 38px;
  height: 38px;
  background-color: #69A4A2;
  border-radius: 25px;
  top: 48px;
  right: 1px;
}

.questions__item i {
  position: absolute;
  transform: translate(-15px, 0);
  z-index: 4;
  margin-top: 16px;
  right: 0;
  -webkit-transform: translate(-15px, 0);
  -moz-transform: translate(-15px, 0);
  -ms-transform: translate(-15px, 0);
  -o-transform: translate(-15px, 0);
}

.questions__item i::before,
.questions__item i::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 21px;
  height: 2px;
}

.questions__item i:before {
  transform: translate(-15px, 0) rotate(0deg);
  -webkit-transform: translate(-15px, 0) rotate(0deg);
  -moz-transform: translate(-15px, 0) rotate(0deg);
  -ms-transform: translate(-15px, 0) rotate(0deg);
  -o-transform: translate(-15px, 0) rotate(0deg);
}

.questions__item i:after {
  transform: translate(-15px, 0) rotate(90deg);
  -webkit-transform: translate(-15px, 0) rotate(90deg);
  -moz-transform: translate(-15px, 0) rotate(90deg);
  -ms-transform: translate(-15px, 0) rotate(90deg);
  -o-transform: translate(-15px, 0) rotate(90deg);
}

.questions__item input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 50%;
  z-index: 1;
  opacity: 0;
}

.questions__item input[type=checkbox]:checked {
  height: 100%;
}

.questions__item input[type=checkbox]:checked ~ b {
  background-color: #ACDAD8;
}

.questions__item input[type=checkbox]:checked ~ span {
  margin-top: 0;
  max-height: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.questions__item input[type=checkbox]:checked ~ i:before {
  transform: translate(-15px, 0) rotate(45deg);
  -webkit-transform: translate(-15px, 0) rotate(45deg);
  -moz-transform: translate(-15px, 0) rotate(45deg);
  -ms-transform: translate(-15px, 0) rotate(45deg);
  -o-transform: translate(-15px, 0) rotate(45deg);
}

.questions__item input[type=checkbox]:checked ~ i:after {
  transform: translate(-15px, 0) rotate(-45deg);
  -webkit-transform: translate(-15px, 0) rotate(-45deg);
  -moz-transform: translate(-15px, 0) rotate(-45deg);
  -ms-transform: translate(-15px, 0) rotate(-45deg);
  -o-transform: translate(-15px, 0) rotate(-45deg);
}

.questions__item-inner {
  display: none;
  color: rgba(48, 69, 92, 0.8);
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}

input[type=checkbox]:checked ~ .questions__item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.03em;
  position: relative;
  overflow: hidden;
  margin: 47px 0;
}

.footer {
  padding-top: 92px;
  background-color: #2F2F2F;
  color: #fff;
}

.footer__wrapper {
  margin-right: 10%;
  margin-left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 25px;
}

.footer__link:hover {
  text-decoration: none;
  color: #69A4A2;
}

.footer__link-first {
  margin-right: 20px;
}

.footer__text {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer__copy {
  font-size: 14px;
  line-height: 17px;
  color: #A3A3A3;
  margin-top: 70px;
  text-align: center;
  margin-bottom: 10px;
}

.footer__author {
  height: 88px;
  background-color: #2B2B2B;
}

.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup__form-body {
  height: 400px;
  overflow-y: auto;
  padding: 0 1.5rem;
}

.popup__input {
  background: #F5F5F5;
  max-width: 495px;
  height: 30px;
  width: 100%;
  margin-bottom: 30px;
  border: none;
  padding: 18px 24px 18px 24px;
}

.popup__input:focus, .popup__textarea:focus {
  outline: none;
}

.popup__textarea {
  background: #F5F5F5;
  border: none;
  max-width: 495px;
  margin-bottom: 30px;
  width: 100%;
  padding-top: 18px;
  padding-left: 24px;
  padding-right: 24px;
  height: 107px;
  resize: vertical;
}

.popup__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #C1C1C1;
  max-width: 429px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.popup__title {
  margin-bottom: 34px;
}

.popup__title::after {
  top: 82px;
}

.popup__description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 154%;
  /* or 25px */
  letter-spacing: 0.03em;
  max-width: 395px;
  margin-bottom: 44px;
}

.popup__close {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.popup__content {
  position: fixed;
  top: 4%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 750px;
  z-index: 99;
  background: white;
  padding: 80px 128px 93px;
  max-height: 96vh;
}

.popup .order__content.hidden {
  visibility: hidden;
}

.popup__form-btn {
  background: #69A4A2;
  border: 2px solid #69A4A2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  padding: 16px 53px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 7;
}

.up {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 50px;
  width: 55px;
  height: 55px;
  z-index: 99;
  cursor: pointer;
  background-color: white;
}

.nav-mobile {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 101;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: .9;
  background-color: #232220;
  color: #fff;
}

.nav-mobile__close {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
}

.nav-mobile__close span {
  position: fixed;
  top: 54px;
  right: 30px;
  width: 50px;
  height: 0px;
  transform: rotate(45deg);
  border: 2px solid #fff;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

.nav-mobile__close span:first-child {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}

.nav-mobile__list {
  text-align: center;
}

.nav-mobile__list-item {
  font-weight: 600;
  font-size: 23px;
  line-height: 28px;
  margin-bottom: 50px;
}

.nav-mobile__list-link {
  cursor: pointer;
}

.overflowHidden {
  overflow-y: hidden;
}

.active-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: hidden;
}

@media (max-width: 1830px) {
  .container {
    padding: 0 125px;
  }
  .about__top {
    margin-bottom: 15%;
  }
  .about__img {
    max-width: 55%;
  }
  .about__central-img {
    top: 26%;
  }
  .about__central {
    margin-right: 8%;
  }
}

@media (max-width: 1440px) {
  body {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.03em;
  }
  .sticks__title,
  .about__text-title,
  .services__title,
  .stocks__title,
  .why__title,
  .reviews__title,
  .popup__title,
  .questions__title {
    font-size: 50px;
    line-height: 70px;
  }
  .nav__list-link {
    font-size: 14px;
  }
  .social {
    padding-right: 20px;
  }
  .social__links:first-child {
    margin-right: 15px;
  }
  .contact__phone {
    font-size: 18px;
  }
  .about__top .about__text {
    padding-top: 0;
  }
  .about__central {
    margin-bottom: 15%;
  }
  .about__central-img {
    top: 20%;
  }
  .about__bottom-img {
    top: 58%;
  }
  .stocks__header {
    min-width: 270px;
  }
  .stocks__packet-tab {
    left: 20%;
  }
  .stocks__aservices-card {
    height: 540px;
    padding-left: 15px;
  }
  .stocks__aservices-card.card-one {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
  }
  .stocks__aservices-card-title {
    line-height: 25px;
  }
  .stocks__aservices-card-descr {
    margin-top: 50px;
  }
  .stocks__aservices-card:hover .stocks__aservices-card-content {
    padding-left: 15px;
  }
  .stocks__aservices-card:hover.card-one .btn__more {
    margin-top: 148px;
  }
  .stocks__aservices-card:hover.card-two .stocks__aservices-card-title,
  .stocks__aservices-card:hover.card-three .stocks__aservices-card-title {
    height: 140px;
  }
  .stocks__aservices-card:hover.card-two .btn__more,
  .stocks__aservices-card:hover.card-three .btn__more {
    margin-top: 148px;
  }
  .stocks__aservices-card.card-two {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
  }
  .stocks__aservices-card.card-three {
    -ms-flex-preferred-size: 33.33%;
        flex-basis: 33.33%;
  }
  .services__item-text {
    font-size: 24px;
    line-height: 26px;
  }
  .services__item-title {
    font-size: 18px;
    line-height: 20px;
  }
  .services__wrapper-cost {
    margin-top: -20px;
    font-size: 24px;
  }
  .why__text-title {
    font-size: 24px;
    line-height: 26px;
  }
  .why__text {
    padding: 35px;
  }
  .why__bottom-img {
    bottom: -10px;
  }
  .questions__title, .questions__description {
    text-align: left;
  }
  .questions__title:after {
    left: 0;
    right: auto;
  }
  .questions__item-title {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 1340px) {
  .header .nav {
    display: none;
  }
  .header .menu {
    display: block;
  }
  .about__img {
    max-width: 40%;
  }
  .about__top {
    margin-bottom: 5%;
  }
  .about__central {
    margin-right: 3%;
  }
  .about__central-img {
    top: 25%;
  }
  .about__text {
    padding-top: 45px;
  }
  .stocks__packet-tab {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    left: 0;
    top: 0;
    margin-top: 2%;
    max-width: 100%;
  }
  .stocks__header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .stocks__packet-img {
    width: 100%;
  }
  .stocks__header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 89px;
    padding-left: 0;
  }
  .stocks__header ul {
    margin-left: 0;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .stocks__title-tab {
    margin-top: 0;
    margin-right: 25px;
    margin-left: 0;
    font-size: 14px;
    line-height: 18px;
    padding-bottom: 10px;
  }
  .stocks__tab-item {
    max-width: 150px;
  }
  .stocks__tab {
    padding-left: 0;
    padding-right: 0;
  }
  .stocks__tab > img {
    width: 100%;
  }
  .stocks__tab-text {
    max-width: 518px;
  }
  .services__extension-item {
    padding: 16px 10px;
    margin-right: 15px;
    max-width: 30%;
    line-height: 20px;
    font-size: 14px;
  }
  .why__top {
    max-width: 55%;
    margin-left: 0;
    margin-bottom: 500px;
  }
  .why__top-img {
    top: 12%;
    width: 70%;
  }
  .why__text {
    padding: 0;
    width: 81%;
  }
  .why__center {
    margin-left: 0;
    margin-bottom: 10px;
  }
  .why__center-img {
    position: relative;
    width: 80%;
  }
  .why__bottom {
    position: relative;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 400px;
    max-width: 400px;
  }
  .why__bottom-img {
    top: 109%;
    width: 110%;
  }
  .questions {
    margin-bottom: 200px;
  }
  .footer__wrapper {
    margin: 0;
  }
  .popup__title {
    font-size: 34px;
    line-height: 40px;
  }
  .popup__title::after {
    top: 50px;
    left: 0;
  }
}

@media (max-width: 950px) {
  body {
    line-height: 18px;
  }
  .container {
    padding: 0px 100px;
  }
  .header .contacts .social {
    margin-right: 20px;
    padding-right: 20px;
  }
  .header .contacts .social__links:first-child {
    margin-right: 20px;
  }
  .main {
    min-height: 785px;
  }
  .main__title {
    font-size: 60px;
    line-height: 74px;
  }
  .main__subtitle {
    font-size: 16px;
    line-height: 18px;
  }
  .about {
    margin-bottom: 0;
  }
  .about__text {
    padding-top: 0;
    max-width: 90%;
  }
  .about__text-description, .about__central-description, .about__bottom-description {
    max-width: 340px;
  }
  .about__top {
    max-width: 355px;
  }
  .about__top-img {
    top: 12%;
  }
  .about__central-img {
    top: 28%;
  }
  .about__bottom-img {
    top: 64%;
  }
  .about__central {
    max-width: 50%;
    margin-right: 0;
    margin-top: 70px;
  }
  .stocks {
    padding-top: 0;
    margin-bottom: 0;
  }
  .stocks__header {
    padding-left: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-right: 115px;
  }
  .stocks__tab {
    padding: 25px;
    margin-top: 10px;
    -webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
  }
  .stocks__title-tab {
    margin-right: 45px;
    padding-bottom: 0;
  }
  .stocks__title-tab:first-child {
    margin-bottom: 15px;
  }
  .stocks__title-tab:nth-child(even) {
    margin-top: 16px;
    margin-bottom: 15px;
  }
  .stocks__header ul {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    max-height: 120px;
  }
  .stocks__header-2.stocks__header {
    min-height: 55px;
  }
  .stocks__header-2 {
    padding-right: 0;
  }
  .stocks__header-2 ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .stocks__header-2 ul,
  .stocks__header-3 ul {
    max-height: 90px;
  }
  .stocks__header-2 .stocks__title-tab:nth-child(odd) {
    margin-bottom: 0;
  }
  .stocks__header-3 .stocks__title-tab:nth-child(odd) {
    margin-bottom: 15px;
  }
  .stocks__header-2 .stocks__title-tab:nth-child(even) {
    margin-top: 0;
    margin-bottom: 0;
  }
  .stocks__header-3 .stocks__title-tab:nth-child(even) {
    margin-bottom: 0;
  }
  .stocks__aservices-cards {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .stocks__aservices-card {
    height: 310px;
    margin-right: 0;
    margin-bottom: 25px;
  }
  .stocks__aservices-card-title {
    height: 55px;
  }
  .stocks__aservices-card:hover.card-one .stocks__aservices-card-title,
  .stocks__aservices-card:hover.card-two .stocks__aservices-card-title,
  .stocks__aservices-card:hover.card-three .stocks__aservices-card-title {
    height: 55px;
    width: 526px;
  }
  .stocks__aservices-card:hover.card-one .stocks__aservices-card-descr,
  .stocks__aservices-card:hover.card-two .stocks__aservices-card-descr,
  .stocks__aservices-card:hover.card-three .stocks__aservices-card-descr {
    margin-top: 40px;
  }
  .stocks__aservices-card:hover.card-one .btn__more,
  .stocks__aservices-card:hover.card-two .btn__more,
  .stocks__aservices-card:hover.card-three .btn__more {
    margin-top: 40px;
  }
  .stocks__aservices-card.card-one {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .stocks__aservices-card.card-two {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .stocks__aservices-card.card-three {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .services__wrapper-text {
    font-size: 14px;
    line-height: 16px;
  }
  .services__wrapper-subtitle {
    font-size: 14px;
    line-height: 16px;
  }
  .services__wrapper-cost {
    font-size: 18px;
    line-height: 20px;
  }
  .services__extension-items {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services__extension-item.second {
    margin-right: 0;
  }
  .services__extension-item {
    max-width: 46%;
  }
  .services__extension-item-title {
    line-height: 22px;
  }
  .services__extension-btn {
    margin-top: 30px;
    width: 100%;
  }
  .services__item-link {
    width: 100%;
    margin-top: 30px;
  }
  input[type=checkbox]:checked ~ .services__item-inner {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .why__top {
    margin-bottom: 325px;
  }
  .why__bottom {
    margin-bottom: 250px;
  }
  .questions {
    margin-bottom: 150px;
  }
  .questions__item-title {
    font-size: 18px;
    line-height: 20px;
    max-width: 450px;
  }
}

@media (max-width: 750px) {
  body {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
  }
  .sticks__title,
  .about__text-title,
  .services__title,
  .stocks__title,
  .why__title,
  .reviews__title,
  .popup__title,
  .questions__title {
    font-size: 30px;
    line-height: 36px;
  }
  .container {
    padding: 0px 50px;
  }
  .header .logo__link {
    width: 100px;
  }
  .header .contacts .social {
    display: none;
  }
  .header .contacts .contact__img {
    width: 30px;
  }
  .header .contacts .contact__phone {
    font-size: 16px;
    line-height: 18px;
  }
  .main {
    min-height: 650px;
  }
  .main__inner {
    padding-top: 210px;
  }
  .main__title {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 28px;
  }
  .main__subtitle {
    font-size: 14px;
    line-height: 17px;
  }
  .main__btn {
    width: 100%;
  }
  .about {
    padding-top: 100px;
  }
  .about__text-title::after {
    left: 0px;
    top: 40px;
  }
  .about__text-description, .about__central-description, .about__bottom-description {
    max-width: 291px;
  }
  .about__top-img {
    margin-top: 40px;
    position: relative;
    max-width: 100%;
  }
  .about__central {
    max-width: 100%;
    margin-left: 0;
    margin-top: 40px;
  }
  .about__central-img {
    position: relative;
    margin-top: 40px;
    max-width: 100%;
  }
  .about__bottom {
    padding-bottom: 100px;
  }
  .about__text {
    max-width: 100%;
  }
  .about__bottom-img {
    max-width: 100%;
    position: relative;
    margin-top: 40px;
  }
  .stocks__title::after {
    left: 0px;
    top: 40px;
  }
  .stocks__packet {
    margin-bottom: 100px;
  }
  .stocks__packet-title {
    font-size: 20px;
    line-height: 30px;
  }
  .stocks__header-1 .stocks__title-tab {
    font-size: 12px;
    line-height: 16px;
    margin-right: 0px;
  }
  .stocks__tab-item {
    max-width: 135px;
  }
  .stocks__tab > img {
    margin-bottom: 60px;
  }
  .stocks__item-link {
    margin-top: 20px;
    display: block;
    float: none;
  }
  .stocks__header-2 .stocks__title-tab {
    margin-right: 15px;
  }
  .stocks__header-3 {
    padding-right: 65px;
  }
  .stocks__pack-3 {
    margin-bottom: 0;
  }
  .stocks__additional {
    margin-top: 100px;
    padding: 17px 22px;
  }
  .stocks__additional::after {
    right: -15px;
    padding: 4px 10px;
  }
  .stocks__aservices-title {
    font-size: 20px;
    line-height: 30px;
  }
  .stocks__aservices-subtitle {
    font-size: 14px;
    line-height: 24px;
  }
  .stocks__aservices-card-title {
    font-size: 16px;
    line-height: 18px;
    height: 80px;
    max-width: 215px;
  }
  .stocks__aservices-card-descr {
    font-size: 14px;
    line-height: 16px;
  }
  .stocks__aservices-card:hover.card-one .btn__more,
  .stocks__aservices-card:hover.card-two .btn__more,
  .stocks__aservices-card:hover.card-three .btn__more {
    max-width: 100%;
  }
  .services {
    padding-top: 100px;
  }
  .services__title::after {
    left: 0px;
    top: 40px;
  }
  .services__text {
    padding-bottom: 45px;
  }
  .services__item-text {
    font-size: 14px;
    line-height: 22px;
  }
  input[type=checkbox]:checked ~ .services__item-inner {
    font-size: 14px;
    line-height: 16px;
  }
  .services__wrapper-text {
    font-size: 12px;
    line-height: 16px;
  }
  .services__wrapper-text p {
    display: inline-block;
    max-width: 182px;
  }
  .services__wrapper-cost {
    margin-top: 15px;
    font-size: 12px;
    line-height: 16px;
  }
  .services__item-title {
    font-size: 12px;
    line-height: 22px;
    max-width: 185px;
  }
  .services__wrapper-subtitle {
    font-size: 12px;
    line-height: 16px;
  }
  .services__extension-item {
    margin-right: 0;
    margin-bottom: 20px;
    max-width: 100%;
    line-height: 16px;
    font-size: 12px;
  }
  .why {
    padding-top: 100px;
    margin-bottom: 100px;
  }
  .why__title::after {
    left: 0px;
    top: 40px;
  }
  .why__inner {
    margin-top: 50px;
  }
  .why__top {
    margin-right: 0;
    max-width: 100%;
    margin-bottom: 250px;
  }
  .why__top-img {
    top: 15%;
    width: 100%;
  }
  .why__text {
    width: 100%;
  }
  .why__center-img {
    width: 100%;
  }
  .why__bottom-img {
    top: 105%;
    width: 100%;
  }
  .questions {
    padding-top: 100px;
  }
  .questions__title::after {
    left: 0px;
    top: 40px;
  }
  .questions__items {
    margin-top: 40px;
  }
  .questions__item-title {
    font-size: 14px;
    line-height: 22px;
    max-width: 230px;
  }
  .questions__item-text {
    font-size: 14px;
    line-height: 22px;
  }
  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 315px;
  }
  .footer__link {
    font-size: 13px;
    line-height: 16px;
  }
  .footer__text {
    font-size: 13px;
    line-height: 16px;
  }
  .popup__title {
    font-size: 26px;
    line-height: 28px;
  }
  .popup__content {
    width: 80%;
    padding: 40px 64px 47px;
  }
  .popup__form-btn {
    padding: 16px 28px;
    width: 100%;
  }
}

@media (max-width: 425px) {
  .popup__title {
    font-size: 22px;
    line-height: 22px;
  }
  .popup__title::after {
    top: 30px;
  }
  .popup__description {
    font-size: 14px;
    line-height: 16px;
  }
  .popup__content {
    width: 70%;
    padding: 40px 32px 24px;
  }
}

@media (max-width: 360px) {
  body {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
  }
  .container {
    padding: 0px 25px;
  }
  .header .contacts {
    display: none;
  }
  .popup__title {
    font-size: 22px;
    line-height: 22px;
  }
  .popup__title::after {
    top: 45px;
  }
  .popup__description {
    font-size: 14px;
    line-height: 14px;
  }
  .popup__content {
    width: 70%;
    padding: 50px 32px 24px;
  }
  .popup__form-body {
    padding: 0;
  }
  .popup__form-btn {
    padding: 16px 18px;
    width: 100%;
  }
}

.message {
  display: none;
  text-align: center;
  position: absolute;
  top: 35%;
  left: 20%;
  line-height: 40px;
}

.message__text {
  margin-bottom: 8rem;
}

.message__btn {
  font-size: 20px;
}

.message.active {
  display: block;
}

.loader {
  display: none;
  position: absolute;
  top: 45%;
  left: 45%;
}

.loader.active {
  display: block;
}

#floatingBarsG {
  position: relative;
  width: 93px;
  height: 116px;
  margin: auto;
}

.blockG {
  position: absolute;
  background-color: rgba(105, 164, 162, 0.98);
  width: 15px;
  height: 36px;
  border-radius: 12px 12px 0 0;
  -o-border-radius: 12px 12px 0 0;
  -ms-border-radius: 12px 12px 0 0;
  -webkit-border-radius: 12px 12px 0 0;
  -moz-border-radius: 12px 12px 0 0;
  transform: scale(0.4);
  -o-transform: scale(0.4);
  -ms-transform: scale(0.4);
  -webkit-transform: scale(0.4);
  -moz-transform: scale(0.4);
  animation-name: fadeG;
  -o-animation-name: fadeG;
  -ms-animation-name: fadeG;
  -webkit-animation-name: fadeG;
  -moz-animation-name: fadeG;
  animation-duration: 1.35s;
  -o-animation-duration: 1.35s;
  -ms-animation-duration: 1.35s;
  -webkit-animation-duration: 1.35s;
  -moz-animation-duration: 1.35s;
  animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-direction: normal;
  -o-animation-direction: normal;
  -ms-animation-direction: normal;
  -webkit-animation-direction: normal;
  -moz-animation-direction: normal;
}

#rotateG_01 {
  left: 0;
  top: 42px;
  animation-delay: 0.51s;
  -o-animation-delay: 0.51s;
  -ms-animation-delay: 0.51s;
  -webkit-animation-delay: 0.51s;
  -moz-animation-delay: 0.51s;
  transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
}

#rotateG_02 {
  left: 12px;
  top: 15px;
  animation-delay: 0.68s;
  -o-animation-delay: 0.68s;
  -ms-animation-delay: 0.68s;
  -webkit-animation-delay: 0.68s;
  -moz-animation-delay: 0.68s;
  transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
}

#rotateG_03 {
  left: 39px;
  top: 5px;
  animation-delay: 0.85s;
  -o-animation-delay: 0.85s;
  -ms-animation-delay: 0.85s;
  -webkit-animation-delay: 0.85s;
  -moz-animation-delay: 0.85s;
  transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
}

#rotateG_04 {
  right: 12px;
  top: 15px;
  animation-delay: 1.01s;
  -o-animation-delay: 1.01s;
  -ms-animation-delay: 1.01s;
  -webkit-animation-delay: 1.01s;
  -moz-animation-delay: 1.01s;
  transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}

#rotateG_05 {
  right: 0;
  top: 42px;
  animation-delay: 1.18s;
  -o-animation-delay: 1.18s;
  -ms-animation-delay: 1.18s;
  -webkit-animation-delay: 1.18s;
  -moz-animation-delay: 1.18s;
  transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
}

#rotateG_06 {
  right: 12px;
  bottom: 11px;
  animation-delay: 1.35s;
  -o-animation-delay: 1.35s;
  -ms-animation-delay: 1.35s;
  -webkit-animation-delay: 1.35s;
  -moz-animation-delay: 1.35s;
  transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
}

#rotateG_07 {
  bottom: 0;
  left: 39px;
  animation-delay: 1.52s;
  -o-animation-delay: 1.52s;
  -ms-animation-delay: 1.52s;
  -webkit-animation-delay: 1.52s;
  -moz-animation-delay: 1.52s;
  transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}

#rotateG_08 {
  left: 12px;
  bottom: 11px;
  animation-delay: 1.69s;
  -o-animation-delay: 1.69s;
  -ms-animation-delay: 1.69s;
  -webkit-animation-delay: 1.69s;
  -moz-animation-delay: 1.69s;
  transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
}

@keyframes fadeG {
  0% {
    background-color: #69a4a2;
  }
  100% {
    background-color: white;
  }
}

@-webkit-keyframes fadeG {
  0% {
    background-color: #69a4a2;
  }
  100% {
    background-color: white;
  }
}
