html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: 'Montserrat', sans-serif;
  min-width: 320px;
  overflow-x: hidden;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #2f2f2f;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

button:focus,
a:focus {
  outline: none;
}

p {
  padding: 0;
  margin: 0;
}

a,
a:hover,
input,
input:focus,
a:focus {
  text-decoration: none;
  outline: none !important;
  color: inherit;
}

.container {
  max-width: 1920px;
  padding: 0 200px;
  margin: 0 auto;
}

.mobile-menu {
  position: fixed;
  top: 0px;
  right: -400px;
  height: 100%;
  width: 370px;
  max-width: 100%;
  z-index: 1000;
  overflow-y: scroll;
  padding-top: 20px;
  background: #21282e;
  -webkit-transition: all 200ms ease-out 0s;
  transition: all 200ms ease-out 0s;
}

.header {
  background: #fff;
  top: 0;
  max-height: 94px;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list-item {
  display: inline-block;
}

.nav__list li + li {
  padding-left: 10px;
}

.nav__list-link {
  font-weight: 600;
  color: #9b9b9b;
  padding: 16px 15px;
}

.nav__list-link:hover {
  color: #69A4A2;
}

.nav__list-link:focus {
  color: #fff;
  padding: 16px 15px;
  background-color: #69A4A2;
  border-radius: 4px;
}

.social {
  padding-right: 30px;
  height: 52px;
  border-right: 1px solid #CFCFCF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__links:first-child {
  margin-right: 25px;
}

.social__links:hover {
  text-decoration: none;
}

.social__links-img {
  margin-top: 11px;
}

.social__links-img:hover {
  opacity: .5;
}

.contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact__phone {
  margin-left: 7px;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  text-align: right;
  color: #69A4A2;
}

.contact__phone:hover {
  color: #2f2f2f;
}

.main {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  min-height: 990px;
}

.main__inner {
  padding-top: 310px;
  text-align: left;
}

.main__title {
  color: #fff;
  font-style: normal;
  font-weight: 800;
  font-size: 80px;
  line-height: 98px;
  letter-spacing: 0.01em;
  margin-bottom: 12px;
}

.main__subtitle {
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
}

.main__btn {
  width: 207px;
  padding: 16px 26px;
  border-radius: 4px;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  z-index: 5;
}

.main__btn:hover {
  background-color: #69A4A2;
  color: #fff;
  border: 2px solid #69A4A2;
}

.main__btn-primary {
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  color: #2f2f2f;
}

.main__btn-secondary {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #FFFFFF;
  color: #fff;
}

.sticks__title,
.services__title,
.stocks__title,
.why__title,
.reviews__title,
.popup__title,
.questions__title {
  position: relative;
  font-weight: 800;
  font-size: 60px;
  line-height: 73px;
  letter-spacing: 0.01em;
  margin-bottom: 58px;
}

.sticks__title::after,
.services__title::after,
.stocks__title::after,
.why__title::after,
.reviews__title::after,
.popup__title::after,
.questions__title::after {
  position: absolute;
  content: '';
  width: 108px;
  height: 5px;
  left: 5px;
  top: 96px;
  background: #69A4A2;
}

.about {
  padding-top: 150px;
  margin-bottom: 150px;
}

.about__inner {
  position: relative;
}

.about__top {
  max-width: 405px;
  margin-bottom: 321px;
}

.about__text {
  padding-top: 82px;
}

.about__text-title {
  position: relative;
  font-style: normal;
  font-weight: 800;
  font-size: 60px;
  line-height: 73px;
  letter-spacing: 0.01em;
  color: #2f2f2f;
  margin-bottom: 58px;
}

.about__text-title::after {
  position: absolute;
  content: '';
  width: 108px;
  height: 5px;
  left: 5px;
  top: 96px;
  background: #69A4A2;
}

.about__top-img {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.about__central {
  max-width: 385px;
  margin-right: 237px;
  margin-left: auto;
  margin-bottom: 378px;
}

.about__title {
  font-weight: 800;
  padding-bottom: 20px;
}

.about__central-img {
  position: absolute;
  top: 480px;
  left: 0;
  z-index: 3;
}

.about__bottom {
  max-width: 420px;
  padding-bottom: 150px;
}

.about__bottom-img {
  position: absolute;
  top: 1070px;
  right: 0;
  z-index: 4;
}

.about__bottom-description {
  margin-bottom: 35px;
}

.stocks {
  padding-top: 150px;
  margin-bottom: 250px;
}

.stocks__title {
  font-weight: 800;
  font-size: 60px;
  line-height: 73px;
  letter-spacing: 0.01em;
  color: #2F2F2F;
}

.stocks__packet {
  margin-bottom: 150px;
}

.stocks__packet-inner {
  position: relative;
}

.stocks__packet-title {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 0.03em;
  color: #2F2F2F;
  margin-bottom: 10px;
}

.stocks__packet-subtitle {
  color: #9B9B9B;
  margin-bottom: 30px;
}

.stocks__packet-tab {
  position: absolute;
  top: 150px;
  left: 513px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1010px;
}

.stocks__header {
  min-height: 551px;
  min-width: 330px;
  padding-left: 40px;
  background-color: #272b2c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stocks__title-tab {
  margin-top: 30px;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: #888888;
  cursor: pointer;
}

.stocks__title-tab.active {
  color: #fff;
  border-bottom: 2px solid #88aeb5;
}

.stocks__tab {
  display: block;
  background-color: #fff;
  padding-top: 38px;
  padding-left: 55px;
  padding-right: 105px;
}

.stocks__tab.d-none {
  display: none;
}

.stocks__tab-item {
  max-width: 200px;
}

.stocks__header {
  background-color: #272B2C;
}

.stocks__additional {
  display: inline-block;
  position: relative;
  margin-top: 185px;
  padding: 34px 63px;
  background: #272B2C;
  border: 2px solid #272B2C;
  color: #FFFFFF;
}

.stocks__additional::after {
  position: absolute;
  content: '!';
  top: -20px;
  right: -20px;
  padding: 5px 15px;
  border: 3px solid #fff;
  background-color: #272B2C;
  color: #fff;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.stocks__tab-text {
  color: #2F2F2F;
  margin-bottom: 27px;
}

.stocks__tab-subtitle {
  position: relative;
  display: inline-block;
}

.stocks__item-link {
  display: inline-block;
  float: right;
  text-align: center;
  padding: 16px 62px;
  color: #fff;
  background-color: #69A4A2;
  border: 2px solid #69A4A2;
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border-radius: 4px;
}

.stocks__item-link:hover {
  background-color: transparent;
  color: #272B2C;
  border-color: #272B2C;
}

.stocks__tab-wrapper {
  margin-top: 104px;
}

.stocks__aservices-title {
  margin-top: 100px;
  margin-bottom: 30px;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 0.03em;
  color: #2F2F2F;
}

.stocks__tab-subtitle span {
  display: inline-block;
  margin-left: 10px;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 46px;
  letter-spacing: 0.03em;
  color: #F92E2E;
}

.stocks .old {
  position: absolute;
  top: -20px;
  left: 55px;
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #2F2F2F;
}

.services {
  padding-top: 150px;
}

.services__text {
  color: #9B9B9B;
  padding-bottom: 80px;
}

.services__inner {
  list-style: none;
}

.services__item {
  position: relative;
  padding: 50px 0;
  border-top: 1px solid #2f2f2f;
}

.services__item:last-child {
  padding-bottom: 50px;
  border-bottom: 1px solid #2f2f2f;
}

.services__item-text {
  max-width: 680px;
  font-weight: 800;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 0.03em;
  display: block;
  color: #2f2f2f;
  cursor: pointer;
}

.services__item-inner {
  display: none;
  color: rgba(48, 69, 92, 0.8);
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}

input[type=checkbox]:checked ~ .services__item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.03em;
  position: relative;
  overflow: hidden;
  margin: 47px 0;
}

input[type=checkbox]:checked ~ .services__last {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.services__item-description {
  padding-bottom: 10px;
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #dcdcdc;
}

.services__item-sub {
  margin-bottom: 47px;
}

.services__item-subtitle {
  border-bottom: 1px solid #dcdcdc;
  width: 100%;
}

.services__item-link {
  display: inline-block;
  text-align: center;
  padding: 16px 62px;
  color: #fff;
  background-color: #69A4A2;
  border: 2px solid #69A4A2;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 4px;
}

.services__item-link:hover {
  background-color: transparent;
  color: #272B2C;
  border-color: #272B2C;
}

.services ul li:nth-of-type(1) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.services ul li:nth-of-type(2) {
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}

.services ul li:nth-of-type(3) {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.services__item i {
  position: absolute;
  -webkit-transform: translate(-6px, 0);
          transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}

.services__item i::before,
.services__item i::after {
  content: "";
  position: absolute;
  background-color: #2f2f2f;
  width: 21px;
  height: 2px;
}

.services__item i:before {
  transform: translate(-30px, 0) rotate(45deg);
  -webkit-transform: translate(-30px, 0) rotate(45deg);
  -moz-transform: translate(-30px, 0) rotate(45deg);
  -ms-transform: translate(-30px, 0) rotate(45deg);
  -o-transform: translate(-30px, 0) rotate(45deg);
}

.services__item i:after {
  transform: translate(-15px, 0) rotate(-45deg);
  -webkit-transform: translate(-15px, 0) rotate(-45deg);
  -moz-transform: translate(-15px, 0) rotate(-45deg);
  -ms-transform: translate(-15px, 0) rotate(-45deg);
  -o-transform: translate(-15px, 0) rotate(-45deg);
}

.services__item input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 50%;
  z-index: 1;
  opacity: 0;
}

.services__item input[type=checkbox]:checked {
  height: 100%;
}

.services__item input[type=checkbox]:checked ~ span {
  margin-top: 0;
  max-height: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.services__item input[type=checkbox]:checked ~ i:before {
  transform: translate(-20px, 0) rotate(45deg);
  -webkit-transform: translate(-20px, 0) rotate(45deg);
  -moz-transform: translate(-20px, 0) rotate(45deg);
  -ms-transform: translate(-20px, 0) rotate(45deg);
  -o-transform: translate(-20px, 0) rotate(45deg);
}

.services__item input[type=checkbox]:checked ~ i:after {
  transform: translate(-20px, 0) rotate(-45deg);
  -webkit-transform: translate(-20px, 0) rotate(-45deg);
  -moz-transform: translate(-20px, 0) rotate(-45deg);
  -ms-transform: translate(-20px, 0) rotate(-45deg);
  -o-transform: translate(-20px, 0) rotate(-45deg);
}

.services__link {
  margin-top: 30px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.services__extension-item {
  display: inline-block;
}

.services__wrapper {
  margin-bottom: 50px;
}

.services__item-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2F2F2F;
  margin-bottom: 47px;
}

.services__wrapper-cost {
  float: right;
  font-size: 26px;
  color: #272B2C;
}

.services__wrapper-text {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.03em;
  color: #272B2C;
}

.services__wrapper-subtitle {
  color: #9B9B9B;
  display: inline-block;
  padding-top: 10px;
}

input[type=checkbox]:checked ~ .services__item-first {
  margin-top: 10px;
}

.why {
  padding-top: 150px;
  margin-bottom: 150px;
}

.why__inner {
  position: relative;
  margin-top: 80px;
}

.why__top {
  max-width: 500px;
  margin-left: auto;
  margin-right: 184px;
  margin-bottom: 182px;
}

.why__center {
  max-width: 513px;
  margin-left: 385px;
  margin-bottom: 215px;
}

.why__bottom {
  max-width: 513px;
  margin-left: auto;
  margin-right: 356px;
  margin-bottom: 182px;
}

.why__text {
  position: relative;
  z-index: 2;
  padding-left: 45px;
  padding-bottom: 40px;
  padding-top: 30px;
  background-color: #fff;
}

.why__text-title {
  position: relative;
  font-weight: 800;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 0.03em;
  color: #2f2f2f;
  margin-bottom: 20px;
}

.why__img {
  z-index: 1;
}

.why__top-img {
  position: absolute;
  top: 0;
  left: 0;
}

.why__center-img {
  position: absolute;
  top: 0;
  right: 0;
}

.why__bottom-img {
  position: absolute;
  bottom: -130px;
  left: 0;
}

.questions {
  padding-top: 150px;
  margin-bottom: 150px;
}

.questions__title, .questions__description {
  text-align: center;
}

.questions__title::after {
  left: auto;
  right: 706px;
}

.questions__items {
  max-width: 1006px;
  width: 100%;
  margin: 80px auto 0;
}

.questions__item {
  position: relative;
  padding: 50px 0;
  border-top: 1px solid #dcdcdc;
}

.questions__item:last-child {
  padding-bottom: 50px;
  border-bottom: 1px solid #dcdcdc;
}

.questions__item-title {
  font-weight: 500;
  font-size: 23px;
  line-height: 36px;
  max-width: 678px;
}

.questions__item b {
  position: absolute;
  display: block;
  width: 38px;
  height: 38px;
  background-color: #69A4A2;
  border-radius: 25px;
  top: 48px;
  right: 1px;
}

.questions__item i {
  position: absolute;
  transform: translate(-15px, 0);
  z-index: 4;
  margin-top: 16px;
  right: 0;
  -webkit-transform: translate(-15px, 0);
  -moz-transform: translate(-15px, 0);
  -ms-transform: translate(-15px, 0);
  -o-transform: translate(-15px, 0);
}

.questions__item i::before,
.questions__item i::after {
  content: "";
  position: absolute;
  background-color: #fff;
  width: 21px;
  height: 2px;
}

.questions__item i:before {
  transform: translate(-15px, 0) rotate(0deg);
  -webkit-transform: translate(-15px, 0) rotate(0deg);
  -moz-transform: translate(-15px, 0) rotate(0deg);
  -ms-transform: translate(-15px, 0) rotate(0deg);
  -o-transform: translate(-15px, 0) rotate(0deg);
}

.questions__item i:after {
  transform: translate(-15px, 0) rotate(90deg);
  -webkit-transform: translate(-15px, 0) rotate(90deg);
  -moz-transform: translate(-15px, 0) rotate(90deg);
  -ms-transform: translate(-15px, 0) rotate(90deg);
  -o-transform: translate(-15px, 0) rotate(90deg);
}

.questions__item input[type=checkbox] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 50%;
  z-index: 1;
  opacity: 0;
}

.questions__item input[type=checkbox]:checked {
  height: 100%;
}

.questions__item input[type=checkbox]:checked ~ b {
  background-color: #ACDAD8;
}

.questions__item input[type=checkbox]:checked ~ span {
  margin-top: 0;
  max-height: 0;
  -webkit-transform: translate(0, 50%);
          transform: translate(0, 50%);
}

.questions__item input[type=checkbox]:checked ~ i:before {
  transform: translate(-15px, 0) rotate(45deg);
  -webkit-transform: translate(-15px, 0) rotate(45deg);
  -moz-transform: translate(-15px, 0) rotate(45deg);
  -ms-transform: translate(-15px, 0) rotate(45deg);
  -o-transform: translate(-15px, 0) rotate(45deg);
}

.questions__item input[type=checkbox]:checked ~ i:after {
  transform: translate(-15px, 0) rotate(-45deg);
  -webkit-transform: translate(-15px, 0) rotate(-45deg);
  -moz-transform: translate(-15px, 0) rotate(-45deg);
  -ms-transform: translate(-15px, 0) rotate(-45deg);
  -o-transform: translate(-15px, 0) rotate(-45deg);
}

.questions__item-inner {
  display: none;
  color: rgba(48, 69, 92, 0.8);
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}

input[type=checkbox]:checked ~ .questions__item-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.03em;
  position: relative;
  overflow: hidden;
  margin: 47px 0;
}

.footer {
  padding-top: 92px;
  background-color: #2F2F2F;
  color: #fff;
}

.footer__wrapper {
  margin-right: 290px;
  margin-left: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__link {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 25px;
}

.footer__link:hover {
  text-decoration: none;
  color: #69A4A2;
}

.footer__link-first {
  margin-right: 20px;
}

.footer__text {
  font-weight: 800;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer__copy {
  font-size: 14px;
  line-height: 17px;
  color: #A3A3A3;
  margin-top: 70px;
  text-align: center;
  margin-bottom: 10px;
}

.footer__author {
  height: 88px;
  background-color: #2B2B2B;
}

.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup__input {
  background: #F5F5F5;
  max-width: 495px;
  height: 30px;
  width: 100%;
  margin-bottom: 30px;
  border: none;
  padding: 18px 0 18px 24px;
}

.popup__input:focus, .popup__textarea:focus {
  outline: none;
}

.popup__textarea {
  background: #F5F5F5;
  border: none;
  max-width: 495px;
  margin-bottom: 30px;
  width: 100%;
  padding-top: 18px;
  padding-left: 24px;
  height: 107px;
}

.popup__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.03em;
  color: #C1C1C1;
  max-width: 429px;
  margin-bottom: 30px;
}

.popup__title {
  margin-bottom: 34px;
}

.popup__title::after {
  top: 82px;
}

.popup__description {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 154%;
  /* or 25px */
  letter-spacing: 0.03em;
  max-width: 395px;
  margin-bottom: 44px;
}

.popup__close {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.popup__content {
  position: fixed;
  top: 7%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 750px;
  z-index: 99;
  background: white;
  padding: 80px 128px 93px;
}

.popup__form-btn {
  background: #69A4A2;
  border: 2px solid #69A4A2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  padding: 16px 53px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 7;
}

@media (max-width: 1838px) {
  .about__img {
    max-width: 850px;
  }
  .about__central {
    margin-right: 125px;
  }
}
